.primary-bg {
  background: #fdb912;
}

.features-heading {
  color: #2e2e2e;
}
.features-para {
  color: #666666;
}
input {
  color: #666666;
}
.header-button {
  background: #2e2e2e;
  color: white;
}

// p{
//  @apply text-[#666666]
// }
