@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./typography.scss";
@import "./colors.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-bg {
  background-image: url("../public/images/merchant-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  @apply bg-right-bottom lg:bg-right;
}
.heroConsumer-bg{
  background-image: url("../public/images/consumer-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  @apply bg-right-bottom lg:bg-right;
}

.small {
  @apply bg-white w-full z-[1000];
}

.react-multi-carousel-dot--active button{
  background: #f7a50f !important;
    border: #f7a50f !important;
    width: 20px !important;
    height: 20px !important;
}
.react-multiple-carousel__arrow::before{
  font-size: 35px !important;
    font-weight: 900 !important;
    color: #f7a50f !important;
}
.react-multiple-carousel__arrow--right::before{
  background: white !important;
}
.react-multiple-carousel__arrow--left::before{
  background: white !important;
}
